*{
    font-family: 'Franklin Gothic Medium';
}

body{
    background-color:white;
}

header h1 {
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    color: rgb(74, 149, 214);

}

header h3{
    text-align: center;
    background-color: rgb(74, 149, 214);
    width: 1000px;
    font-size: 25px;
    color: white;
}

section{
    display: flex;
    align-items: center;
    align-content: center;
    width: min-content;
    height: 350px;
    margin: 60px;

}

img{
    height: 200px;
    width: 350px;
}

section img{
    width: 1;
    width: 150px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
    opacity: 8;
}

section img:hover{
    width: 600px;
    height: 450px;
    cursor: crosshair;
    opacity: 1;
}

main{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


